*{

}

html, body {
  height: 100%;
  margin: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 1rem;
  /*padding-top: 40px;*/
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #eee;
    position: sticky;
    top: 0;
}

footer {
    text-align: center;
    background-color: #eee;
    padding: 1rem;
    color: black;
}

th, td {
  padding: 10px;
}

.actions{
  display: flex;
  justify-content: space-between;
}

nav a {
  border-radius: 6px;
  padding: 6px 12px;
  border-bottom: 4px solid #0056b3;
  background-color: whitesmoke;
}

nav a:hover{
  color:  #0056b3;
  font-weight: bold;
}

.active-link {
  background-color: #41adff;
  color: white;
}

nav a.active-link:hover {
  background-color: #3189cc;
  color: white;
  border-bottom: 4px solid #202b38;
}

.link-like {
  background: transparent;
  padding: 0;
  font: inherit;
}

.link-like:hover {
  text-decoration: underline;
}

.entity-layout{
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.entity-content{
  margin-bottom: 1rem;
}

.entity-layout h2, h3, h4{
  margin: 0.5rem 0;
  color: #333;
}

.entity-layout form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.entity-layout form > div,  .entity-layout form > section{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.entity-layout label, p, strong, li {
  margin-bottom: 0;
  color: #333;
}

.entity-layout input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
}

.entity-layout button {
  align-self: flex-start;
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.entity-layout button:hover {
  background-color: #0056b3;
}

.entity-layout .back-to{
  margin: 0.5rem 0;
}

.entity-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail-item {
  display: flex;
  gap: 0.5rem;
}

.label {
  font-weight: bold;
  min-width: 80px;
  color: #333;
}

.value {
  color: #555;
}

/*CreateMovie*/

input, textarea, select{
  background-color: whitesmoke;
  border: darkgray 2px solid;
  color: #666;
}

input:focus{
  border-color: transparent;
}

.container{
  transition: transform 0.5s ease-out;
}

.items-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.items{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: center;
  margin: 0;
  overflow-y: auto;

  width: 100%;
  border-radius: 4px;
  max-height: 100px; 
  
  scrollbar-color: darkgrey #f1f1f1;
  opacity: 1;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.item{
  color: #007bff;
  list-style: none;
  padding: 5px;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 4px;
}

.item.added {
  animation: slide-up 0.3s ease forwards;
}

.item.leaving {
  animation: slide-out 0.3s ease forwards;
   pointer-events: none;
}

.items-title{
  margin: 0;
}

.active{
  background-color: #41adff;
  color: whitesmoke;
  font-weight: bold;
}

.inactive{
 background-color: rgb(232, 232, 232);
}

.container .add{
  margin-right: 0.5rem;
  background-color: #41adff;
}

.entity-layout .remove{
  background-color: salmon;
}
.entity-layout .remove:hover{
  background-color: sienna;
}
.entity-layout .activeBtn{
  background-color: red;
}
.entity-layout .activeBtn:hover{
  background-color: darkred;
}

.update{
  color: steelblue;
}

.delete{
  color: red;
}

.details{
  color: aquamarine;
}

/*Auditorium*/
.form-auditorium{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-auditorium .buttons-grid{
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.grid{
  border-radius: 8px;
  overflow: hidden;
}
.grid-seats-wrapper{
  position: relative;
  z-index: 100;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 49;
}
.grid-seats{
  padding: 1rem;
  background-color: brown;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow: auto;
  scrollbar-color: darkgray whitesmoke;
  max-height: 200px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 4px;
}

.grid-seats.expanded {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  max-height: none;
  max-width: none;
  background-color: brown;
  overflow: auto;
  z-index: 50;
}

.seat-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}

.grid-seats-wrapper .close-button {
  position: fixed;
  top: 4.2%;
  right: 1.2%;
  z-index: 100;
  background: red;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.expanded .close-button:hover {
  background: darkred;
}
.row{
  height: 2rem;
  display: flex;

  gap: 1rem; 
  /*padding-right: 1rem;*/
}
/*.row::after {
  content: "";
  display: block;
  min-width: 0.1px;
}*/
.row .seat{
  padding: 0;
  flex: 0 0 auto;
  height: 2rem;
  width: 3rem;
  background-color: darkgray;
  color: white;
  text-align: center;
}

.row .seat:hover{
  background-color: gray;
}

.row .seat:focus {
  outline: 0.1rem solid gray;
  outline-offset: 0px;
  box-shadow: 0 0 8px 4px gray;
}

.row .selected{
  background-color: green;
}

.row .selected:hover{
  background-color: darkgreen;
}
.row .selected:focus {
  outline: 0.1rem solid darkgreen;
  outline-offset: 0px;
  box-shadow: 0 0 8px 4px darkgreen;
}

.details .grid{
  margin-top: 0.5rem;
}

.seats-display .seat {
  border-radius: 4px;
  text-align: center;
  height: auto;
  background-color: green;
}

.seats-display .seat:hover {
  background-color: darkgreen;
}