.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; align-items: center; justify-content: center;
  z-index: 1000;
}

.modal-container {
  background: white;
  padding: 1.5rem;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 0 10px 5px black;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
  font-size: 1.25rem;
  color: black;
}

.modal-close-button {
  background: red;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.modal-body,
.modal-footer {
  margin-top: 1rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}